body {
  background-color: #fff;
  overflow-x: hidden;
}


.atf {
  &__wrapper {
    margin: 0 10px;
    @include mq(mobileLandscape) {
      margin: 0 20px;
    }
    @include mq(tablet) {
      width: 740px;
      margin: 0 auto;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  &__sheet {
    @include mq(tablet) {
      padding: 0 20px;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
      &__inner {
        width: 620px;
        padding-bottom: 12px;
        @include mq(desktop) {
          padding-bottom: 0;
        }
      }
    }
    p {
      max-width: 620px;
      font-size: 17px;
      overflow-x: hidden;
      a {
        color: inherit;
        text-decoration: underline;
        text-decoration-color: #ab0613;
        text-decoration-skip: ink;
        &:hover {
          text-decoration-color: #c70000;
        }
      }
    }
  }
}
