.atf {
  &__wrapper {
    margin: 0 10px;
    @include mq(mobileLandscape) {
      margin: 0 20px;
    }
    @include mq(tablet) {
      width: 740px;
      margin: 0 auto;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  &__sheet {
    @include mq(tablet) {
      padding: 20px;
      border-left: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;
      &__inner {
        width: 620px;
      }
    }
    p {
      max-width: 620px;
      font-size: 17px;
    }
  }
}
