figure.element {
  margin: 0;
}

figure.element-interactive {
  height: 0;
  padding-bottom: 87.5%; // map embed
  margin-bottom: 6px;
  &[data-canonical-url*='video'] {
    padding-bottom: 56.25%; //16x9 video
    &.element--showcase {
      padding-bottom: 56.25vw;
      @include mq(tablet) {
        padding-bottom: 416px;
      }
      @include mq(desktop) {
        padding-bottom: 484px;
      }
      @include mq(leftCol) {
        padding-bottom: 574px;
      }
    }
  }
  &.element--supporting {
    @include mq(400px) {
      padding-bottom: 320px;
    }
    @include mq(tablet) {
      padding-bottom: 333px;
      &.element {
        margin-left: -20px;
        width: 640px;
      }
    }
    @include mq(desktop) {
      padding-bottom: 226px;
      &.element {
        margin-top: 24px;
        margin-left: 40px;
        right: 10px;
        float: right;
        width: 270px;
      }
    }
    @include mq(leftCol) {
      padding-bottom: 280px;
      &.element {
        margin-top: 24px;
        margin-left: 40px;
        right: 10px;
        float: right;
        width: 320px;
      }
    }
  }
  position: relative;
  iframe {
    border: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
}



figure.element.element--supporting {
  @include mq(tablet) {
    float: right;
    margin-right: -80px;
    margin-left: 20px;
    width: 300px;
  }
  @include mq(desktop) {
    margin-right: -200px;
    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 1px;
      width: 21px;
      border-top: 1px solid #dcdcdc;
    }
    &:after {
      right: -10px;
    }
    &:before {
      display: none;
    }
  }
  @include mq(leftCol) {
    margin-right: -360px;
    width: 320px;
    margin-top: 24px;
    &:after {
      // right: -10px;
      border-bottom: 1px solid #dcdcdc;
    }
    &:before {
      display: block;
      left: -10px;
      border-bottom: 1px solid #dcdcdc;
    }
  }
}
