.meta-source {
  position: relative;
  padding-top: 16px;
  margin: 8px 0 24px;
  @include mq(tablet) {
    padding-left: 20px;
    margin-left: -20px;
  }
  @include mq(desktop) {
    margin-right: -20px;
  }
  .content__meta-container {
    @include mq(leftCol) {
      width: auto;
      position: relative;
      margin-left: 0;
      margin-bottom: 24px;
    }
  }

  .badge {
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 8px;
    padding-bottom: 0;

    @include mq(tablet) {
      position: absolute;
      top: 7px;
      right: 0;
      background-color: #fff;
      padding-top: 4px;
      padding-left: 10px;
      border-left: 1px solid #dcdcdc;
      border-bottom: 0;
      z-index: 20;
      height: 156px;
      width: 220px;
    }
    @include mq(leftCol) {
      border-top: 0;
    }

    .badge__link {
      display: inline-block;
    }
    .badge__logo {
      max-height: unset;
      max-width: unset;
      height: 110px;
      width: 215px;
      padding-bottom: 6px;

    }
    .badge__label {
      font-family: "Guardian Text Sans Web","Guardian Egyptian Web",Georgia,serif;
      font-size: 12px;
      color: #767676;
    }
    .badge__help {
      display: block;
      width: 140px;
      position: relative;
      bottom: 20px;
      font-size: 12px;
      color: #767676;
      font-family: "Guardian Text Sans Web","Guardian Egyptian Web",Georgia,serif;
      @include mq(tablet) {
        bottom: 24px;
      }
    }

  }


  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
  }
  &:before {
    top: 0;
  }
  &:after {
    top: 6px;
  }
  .meta__contact-wrap {
    .byline {
      margin: 0 0 4px;
      a:hover {
        border-bottom: 1px solid currentColor;
      }
    }
    .byline a,
    .meta__contact-method a {
      color: #c70000;
      font-family: "Guardian Headline", "Guardian Egyptian Web", Georgia, serif;
      font-weight: bold;
      text-decoration: none;
    }
    .meta__contact-method {
      display: inline;
      margin-right: 8px;
      @include mq(leftCol) {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
      }
      a {
        font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
      }
      .inline-icon {
        position: relative;
        top: 1px;
        fill: #c70000;
      }
    }
    .content__dateline {
      font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size: 14px;
      margin-top: 4px;
      color: #767676;
      border-bottom: 1px solid #dcdcdc;
      padding-bottom: 8px;
    }
  }
  .meta__extras {
    border-top: 0;
    .ios &,
    .android & {
      display: none;
    }
    @include mq(tablet) {
      padding-left: 20px;
      margin-left: -20px;
    }
    .meta__social {
      padding-top: 0;
    }
    .social__action .inline-icon {
      background-color: #fff;
      border: 1px solid #dcdcdc;
      fill: #c70000;
    }
  }
}
