$sheet-desktop: 820px;
$sheet-leftCol: 980px;
$sheet-wide: 980px;

@include mq(desktop) {
  body {
    background-color: #f6f6f6;
  }
  .atf {
    &__wrapper {
      width: auto;
      overflow: hidden;
      position: relative;
    }
    &__sheet {
      background-color: #fff;
      margin: 40px auto;
      position: relative;
      overflow: hidden;
      min-height: 100vh;
      display: none;
      border: 1px solid #dcdcdc;
      width: $sheet-desktop;

      @include mq(leftCol) {
        width: $sheet-leftCol;
      }

      transition: transform ease-out 1s;

      &[data-index='-2'],
      &[data-index='-1'],
      &[data-index='0'],
      &[data-index='1'],
      &[data-index='2'] {
        display: block;
      }

      &[data-index='-2'] {
        left: -100vw;
      }

      &[data-index='-1'] {
        left: (-$sheet-desktop);
        @include mq(leftCol) {
          left: (-$sheet-leftCol);
        }
        @include mq(wide) {
          left: (-$sheet-wide + 40px);
        }

      }

      &[data-index='-1'],
      &[data-index='1'] {
        cursor: pointer;
      }

      &[data-index='1'] {
        left: calc(100vw - 40px);
        @include mq(wide) {
          left: calc(100vw - 80px);
        }
      }

      &[data-index='2'] {
        left: 100vw;
      }

      &[data-index='-2'],
      &[data-index='-1'],
      &[data-index='1'],
      &[data-index='2'] {
        position: absolute;
        top: 0;
      }

      [data-scroll='mid'] &[data-index='-1'],
      [data-scroll='mid'] &[data-index='1'] {
        position: fixed;
      }

    }
  }
}
