.sheet__peek-nav {
  &__next,
  &__prev {
    position: absolute;
    width: 30px;
    cursor: pointer;
    top: -40px;
    bottom: -50vh;
    z-index: 5;
  }
  &__next {
    right: calc(50% - 50vw);
  }
  &__prev {
    left: calc(50% - 50vw);
  }

  .is-next &,
  .is-prev & {
    display: none;
  }
}
