.atf .sheet {
  @include mq($until:tablet) {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }
  &__inner {
    position: relative;
  }

  h2:first-child {
    font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    display: inline-block;
    z-index: 10;
    background-color: #c70000;
    color: #fff;
    position: relative;
    z-index: 20;
    font-size: 42px;
    line-height: 1.15;
    padding: 3px 8px 3px 10px;
    margin-top: calc(60vw - 46px);
    margin-left: -10px;
    margin-bottom: 12px;
    @include mq(tablet) {
      margin-top: 392px;
      font-size: 50px;
      padding: 4px 16px 6px 19px;
      margin-left: -20px;
      white-space: nowrap;
      // width: 684px;
    }
    @include mq(desktop) {
      padding: 8px 16px 8px 20px;
      margin-top: 446px;
      font-size: 62px;
    }
    @include mq(leftCol) {
      margin-top: 534px;
      font-size: 70px;
    }
  }

  .element-image {
    @include mq(desktop) {
      margin-left: -20px;
      margin-right: -20px;
      figcaption {
        padding-left: 20px;
      }
    }
  }

  .element--showcase {
    margin-left: -10px;
    margin-right: -10px;
    figcaption {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mq(mobileLandscape) {
      margin-left: -20px;
      margin-right: -20px;
    }
    @include mq(tablet) {
      margin-right: -100px;
    }
    @include mq(desktop) {
      margin-right: -240px;
    }
    @include mq(leftCol) {
      margin-right: -380px;
    }
  }

  figcaption {
    font-size: 17px;
    line-height: 24px;
    color: #c70000;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding-top: 4px;
    margin-bottom: 18px;
    strong {
      font-weight: inherit;
      color: #121212;
    }
    .element-image__caption,
    .element-image__caption {
      display: block;
    }
  }

  // Only each sheet's header image
  h2 + .element--showcase {
    position: absolute;
    top: -20px;
    z-index: 10;
    @include mq(tablet) {
      top: -16px;
    }
    @include mq(desktop) {
      width: 860px;
    }
    @include mq(leftCol) {
      width: 1020px;
    }

    figcaption {
      display: none;
    }
  }

}
