$sheet-desktop: 820px;
$sheet-leftCol: 980px;
$sheet-wide: 980px;

@include mq(desktop) {
  body {
    background-color: #f6f6f6;
    .ios &,
    .android &,
    &[data-scroll='low'] {
      overflow-x: hidden;
    }
  }
  .atf {
    &__wrapper {
      width: auto;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      width: 100vw;
    }
    &__sheet__outer {
      width: 100vw;
      height: 100vh;
      flex-basis: 100vw;
      flex-grow: 0;
      flex-shrink: 0;
      transform: translateX(0);
      transition: transform 600ms ease-in-out;

      overflow: hidden;
      .ios &,
      .android &,
      [data-scroll='mid'] &,
      [data-scroll='low'] & {
        overflow-x: hidden;
        overflow-y: scroll;
      }

      // this is the strategy to 'peek' sheets
      &.is-next,
      &.smooth-scrolling,
      &.is-prev {
        overflow: hidden;
        pointer-events: none;
        z-index: -10;
      }
      &.is-prev {
        transform: translateX(calc(50vw - 400px));
        @include mq(leftCol) {
          transform: translateX(calc(50vw - 480px));
        }
      }
      &.is-next {
        transform: translateX(calc(-50vw + 400px));
        @include mq(leftCol) {
          transform: translateX(calc(-50vw + 480px));
        }
      }

    }
    &__sheet {
      background-color: #fff;
      margin: 40px auto 50vh;
      position: relative;
      border: 1px solid #dcdcdc;
      width: $sheet-desktop;
      transition: transform 300ms ease-in-out;

      @include mq(leftCol) {
        width: $sheet-leftCol;
      }


    }
  }
}
