.atf .sheet {
  @include mq($until:tablet) {
    &:not(:first-child) {
      margin-top: 32px;
    }
  }
  &__inner {
    position: relative;
  }

  // Page headline
  h2:first-child {
    font-family: "Guardian Titlepiece","Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
    display: inline-block;
    z-index: 10;
    background-color: #c70000;
    color: #fff;
    position: relative;
    z-index: 20;
    font-size: 42px;
    line-height: 1.15;
    padding: 3px 8px 3px 10px;
    margin-top: calc(60vw - 46px);
    margin-left: -10px;
    margin-bottom: 12px;
    @include mq(tablet) {
      margin-top: 392px;
      font-size: 50px;
      padding: 4px 16px 6px 19px;
      margin-left: -20px;
      white-space: nowrap;
      // width: 684px;
    }
    @include mq(desktop) {
      padding: 8px 16px 8px 20px;
      margin-top: 446px;
      font-size: 62px;
    }
    @include mq(leftCol) {
      margin-top: 534px;
      font-size: 70px;
    }
  }

  // Standfirsts
  blockquote:not(.quoted) {
    p {
      font-family: "Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
      font-weight: bold;
      color: #c70000;
      line-height: 26px;
      font-size: 20px;
      @include mq(desktop) {
        line-height: 32px;
        font-size: 24px;
      }
    }
    & + p {
      position: relative;
      padding-top: 12px;
      margin-top: 32px;
      &:before {
        position: absolute;
        content: '';
        top: 0;
        background-color: #dcdcdc;
        height: 1px;
        left: -10px;
        right: -10px;

        @include mq(mobileLandscape) {
          left: -20px;
          right: auto;
          width: 100vw;
        }
        @include mq(tablet) {
          left: -20px;
          right: 0;
          width: auto;
        }
        @include mq(desktop) {
          right: -20px;
        }
      }
    }
  }

  // Quotes
  blockquote.quoted {
    background-color: #FEF9F5;
    padding: 10px 10px 18px;
    margin-left: -10px;
    margin-bottom: 12px;
    clear: both;
    @include mq(mobileLandscape) {
      padding: 10px 20px 18px;
      margin-left: -20px;
      margin-bottom: 12px;
    }
    @include mq(desktop) {
      margin-right: -20px;
      // width: 520px;
      // clear: left;
    }
    @include mq(leftCol) {
      float: right;
      clear: both;
      width: 300px;
      margin-right: -380px;
    }

    p {
      &:before {
        content: '“';
        display: block;
        font-size: 3em;
        position: relative;
        bottom: -0.2em;
        left: -1px;
      }
      font-family: "Guardian Headline Full","Guardian Headline","Guardian Egyptian Web",Georgia,serif;
      line-height: 26px;
      font-size: 20px;
      font-weight: bold;
      color: #c70000;
      em {
        font-weight: 200;
        font-style: italic;
      }
      @include mq(desktop) {
        line-height: 32px;
        font-size: 24px;
      }

    }
  }

  .element--thumbnail,
  .element--thumbnail.element-image  {
    width: auto;
    float: none;
    margin-right: 0;
    @include mq(mobileLandscape) {
      width: 280px;
      max-width: 33vw;
      margin-left: 20px;
      float: right;
      clear: right;
    }
    @include mq(tablet) {
      max-width: none;
      margin-right: -80px;
    }
    @include mq(desktop) {
      margin-right: -220px;
      figcaption {
        padding-left: 0;
        padding-right: 20px;
      }
    }
    @include mq(leftCol) {
      margin-right: -380px;
      width: 340px;
    }
  }

  .element-image {
    @include mq(desktop) {
      margin-left: -20px;
      margin-right: -20px;
      figcaption {
        padding-left: 20px;
      }
    }
  }

  .element--showcase {
    margin-left: -10px;
    margin-right: -10px;
    figcaption {
      padding-left: 10px;
      padding-right: 10px;
    }
    @include mq(mobileLandscape) {
      margin-left: -20px;
      margin-right: -20px;
      figcaption {
        padding-left: 20px;
        padding-right: 20px;
        width: 620px;
      }
    }
    @include mq(tablet) {
      margin-right: -100px;
    }
    @include mq(desktop) {
      margin-right: -240px;
    }
    @include mq(leftCol) {
      margin-right: -380px;
    }
  }

  figcaption {
    font-size: 17px;
    line-height: 24px;
    color: #c70000;
    font-family: "Guardian Text Sans Web", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    padding-top: 4px;
    margin-bottom: 18px;
    strong {
      font-weight: inherit;
      color: #121212;
    }
    .element-image__caption,
    .element-image__caption {
      display: block;
    }
  }

  // Only each sheet's header image
  h2 + .element--showcase {
    position: absolute;
    top: -20px;
    z-index: 10;
    @include mq(tablet) {
      top: -16px;
    }
    @include mq(desktop) {
      width: 860px;
    }
    @include mq(leftCol) {
      width: 1020px;
    }

    figcaption {
      display: none;
    }
  }

}
