@import "fonts";
@import "mq";
@import "palette";
// @import "enhancer";


body > .element-atom,
.interactive-atom {
    margin: 0;
    padding: 0;
}

// Prevent unstyled flash
body {
    opacity: 0;
    animation-name: loadFallback;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    &.ready {
        animation: none;
        transition: opacity 120px;
        opacity: 1;
    }
}

@keyframes loadFallback {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@import "base";
@import "meta";
@import "embed-frames";
@import "bottom";

@import "sheet-layout";
@import "sheet-inner";
@import "sheet-bottomNav";
@import "sheet-peekNav";
